@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define the typing animation */
@keyframes typing {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
  
  /* Create a blinking cursor */
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  
  .animate-typing {
    animation: typing 6s  1s forwards  infinite;
  }
  

  @keyframes glowing-clockwise-border {
    0% {
      border-top-color: rgba(252, 252, 252, 0.8);
      border-right-color: rgba(255, 255, 255, 0.2);
      border-bottom-color: rgba(255, 255, 255, 0.2);
      border-left-color: rgba(255, 255, 255, 0.2);
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    }
    25% {
      border-top-color: rgba(255, 255, 255, 0.2);
      border-right-color: rgba(255, 255, 255, 0.8);
      border-bottom-color: rgba(255, 255, 255, 0.2);
      border-left-color: rgba(255, 255, 255, 0.2);
      box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
    }
    50% {
      border-top-color: rgba(255, 255, 255, 0.2);
      border-right-color: rgba(255, 255, 255, 0.2);
      border-bottom-color: rgba(255, 255, 255, 0.8);
      border-left-color: rgba(255, 255, 255, 0.2);
      box-shadow: 0 0 30px rgba(255, 255, 255, 0.8);
    }
    75% {
      border-top-color: rgba(255, 255, 255, 0.2);
      border-right-color: rgba(255, 255, 255, 0.2);
      border-bottom-color: rgba(255, 255, 255, 0.2);
      border-left-color: rgba(255, 255, 255, 0.8);
      box-shadow: 0 0 40px rgba(255, 255, 255, 0.8);
    }
    100% {
      border-top-color: rgba(255, 255, 255, 0.8);
      border-right-color: rgba(255, 255, 255, 0.2);
      border-bottom-color: rgba(255, 255, 255, 0.2);
      border-left-color: rgba(255, 255, 255, 0.2);
      box-shadow: 0 0 50px rgba(255, 255, 255, 0.8);
    }
  }

  .animate-glowing-clockwise-border {
    animation: glowing-clockwise-border 2s linear infinite;
    border-width: 4px;
    border-style: solid;
  }